<form action="/coordinacion/edit/{{user.id}}" method="post">
    <input type="text" name="usuario" value="{{user.usuario}}">
    <input type="text" name="password" value="{{user.password}}">
    <input type="submit" value="UPDATE">
</form>