<div class="caja_menus" id="archivos_para_guardar">

	<!------------------------------- archivos ------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>PDF</h2>
		<input type="text" id="texto25" placeholder="ESCRIBE EL LINK DEL PDF AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarPDF();">INSERTAR</a>
		<h2>WORD</h2>
		<input type="text" id="texto26" placeholder="ESCRIBE EL LINK DEL WORD AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarWORD();">INSERTAR</a>
		<h2>EXCEL</h2>
		<input type="text" id="texto27" placeholder="ESCRIBE EL LINK DEL EXCEL AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarEXCEL();">INSERTAR</a>
		<h2>POWER POINT</h2>
		<input type="text" id="texto28" placeholder="ESCRIBE EL LINK DEL POWER POINT AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarPP();">INSERTAR</a>
</div>