<div class="caja_menus" id="concepto_listas">
	<!------------------------------- CONCEPTO ------------------------------------------------------>
	<!-------------------------------------------------------------------------------------------------------->
		<h2>CONCEPTO</h2>
		<input type="text" id="texto20" placeholder="ESCRIBE EL CONCEPTO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarCONCEPTO();">INSERTAR</a>
	<!------------------------------- CITA TEXTUAL ------------------------------------------------------>
	<!-------------------------------------------------------------------------------------------------------->
		<h2>CITA</h2>
		<input type="text" id="texto21" placeholder="ESCRIBE EL CONCEPTO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarCITA();">INSERTAR</a>

	<!------------------------------- REFERENCIA BIBLIOGRÁFICA ------------------------------------------------------>
	<!-------------------------------------------------------------------------------------------------------->
		<h2>REFERENCIA BIBLIOGRÁFICA</h2>
		<input type="text" id="texto22" placeholder="ESCRIBE EL CONCEPTO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarREFERENCIAS();">INSERTAR</a>
	<!------------------------------- LISTA DESCRIPTIVA IZQUIERDA ------------------------------------------------------>
	<!-------------------------------------------------------------------------------------------------------->
		<h2>LISTA DESCRIPTIVA IZQUIERDA</h2>
		<input type="text" id="texto23" placeholder="ESCRIBE EL PUNTO DE LA LISTA AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarLISTAIZ();">INSERTAR</a>
	<!------------------------------- LISTA DESCRIPTIVA DERECHA ------------------------------------>
	<!-------------------------------------------------------------------------------------------------------->
		<h2>LISTA DESCRIPTIVA DERECHA</h2>
		<input type="text" id="texto24" placeholder="ESCRIBE EL PUNTO DE LA LISTA AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarLISTADE();">INSERTAR</a>
</div>