<div class="caja_menus" id="img_text">
	<!------------------------------- imagen individual centrada --------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>IMAGEN CENTRADA <span class="icon-file-image"></span></h2>	
		<input type="text" id="texto10" placeholder="ESCRIBE EL NOMBRE DE LA IMAGEN AQUÍ" required>
		<input type="text" id="texto11" placeholder="ESCRIBE EL LINK DE LA IMAGEN AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarImg();">INSERTAR</a>
		

	<!------------------------------- imagen con texto a la derecha ------------------------------------------>
	<!-------------------------------------------------------------------------------------------------------->
		<h2>IMAGEN TEXTO IZQUIERDO <span class="icon-align-justify-1"></span><span class="icon-file-image"></span></h2>
		<input type="text" id="texto12" placeholder="ESCRIBE EL NOMBRE DE LA IMAGEN AQUÍ" required>
		<input type="text" id="texto13" placeholder="ESCRIBE EL LINK DE LA IMAGEN AQUÍ" required>
		<input type="text" id="texto14" placeholder="ESCRIBE EL TEXTO AQUÍ">
		<a href="#" class="insertar" id="insert" onclick="capturarTextoImg();">INSERTAR</a>
	<!------------------------------- imagen individual centrada --------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>IMAGEN TEXTO DERECHO <span class="icon-file-image"></span><span class="icon-align-justify-1"></span></h2>
		<input type="text" id="texto15" placeholder="ESCRIBE EL NOMBRE DE LA IMAGEN AQUÍ" required>
		<input type="text" id="texto16" placeholder="ESCRIBE EL LINK DE LA IMAGEN AQUÍ" required>
		<input type="text" id="texto17" placeholder="ESCRIBE EL TEXTO AQUÍ">
		<a href="#" class="insertar" id="insert" onclick="capturarImgTexto();">INSERTAR</a>
</div>
