<div class="caja_menus" id="textos">
	<!------------------------------- texto cetrado ---------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>TEXTO CENTRADO <span class="icon-align-center-1"></span></h2>
		<input type="text" id="texto18" placeholder="ESCRIBE EL TEXTO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarTextCentrado();">INSERTAR</a>
	<!------------------------------- texto JUSTIFICADO ---------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>TEXTO JUSTIFICADO <span class="icon-align-justify-1"></span></h2>
		<input type="text" id="texto19" placeholder="ESCRIBE EL TEXTO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="capturarTextJustificado();">INSERTAR</a>
</div>