<div class="caja_menus" id="ts">
	<!------------------------------- Titulos Pequeños ------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>TITULO PEQUEÑO IZQUIERDO <span class="icon-align-left-1"></h2>
		<input type="text" id="texto7" placeholder="ESCRIBE EL TITULO IZQUIERDO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleLeftSmall();">INSERTAR</a>
		<h2>TITULO PEQUEÑO CENTRADO <span class="icon-align-center-1"></h2>
		<input type="text" id="texto9" placeholder="ESCRIBE EL TITULO CENTRADO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleCenterSmall();">INSERTAR</a>
		<h2>TITULO PEQUEÑO DERECHO <span class="icon-align-right-1"></span></h2>
		<input type="text" id="texto8" placeholder="ESCRIBE EL TITULO DERECHO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleRightSmall();">INSERTAR</a>
</div>