<div class="caja_menus" id="tm">

	<!------------------------------- Titulos Medianos ------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------->
		<h2>TITULO MEDIANO IZQUIERDO <span class="icon-align-left-1"></h2>
		<input type="text" id="texto4" placeholder="ESCRIBE EL TITULO IZQUIERDO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleLeftMedium();">INSERTAR</a>
		<h2>TITULO MEDIANO CENTRADO <span class="icon-align-center-1"></h2>
		<input type="text" id="texto6" placeholder="ESCRIBE EL TITULO CENTRADO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleCenterMedium();">INSERTAR</a>
		<h2>TITULO MEDIANO DERECHO <span class="icon-align-right-1"></span></h2>
		<input type="text" id="texto5" placeholder="ESCRIBE EL TITULO DERECHO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleRightMedium();">INSERTAR</a>
</div>