<div class="caja_menus" id="tb">
	<div class="caja_para_estilos">
		<!------------------------------- Titulos Grandes -------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------->
		<h2>TITULO GRANDE IZQUIERDO <span class="icon-align-left-1"></span></h2>
		<input type="text" id="texto1" placeholder="ESCRIBE EL TITULO IZQUIERDO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleLeftBig();">INSERTAR</a>
		<h2>TITULO GRANDE CENTRADO <span class="icon-align-center-1"></span></h2>
		<input type="text" id="texto3" placeholder="ESCRIBE EL TITULO CENTRADO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleCenterBig();">INSERTAR</a>
		<h2>TITULO GRANDE DERECHO <span class="icon-align-right-1"></span></h2>
		<input type="text" id="texto2" placeholder="ESCRIBE EL TITULO DERECHO AQUÍ" required>
		<a href="#" class="insertar" id="insert" onclick="titleRightBig();">INSERTAR</a>
	</div>	
</div>