.caja_contenedor{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.carta_presentacion{
	width: 25%;
	height: auto;
}
.carta_presentacion img{
	width: 100%;
	height: 85%;
}
.campos{
	text-align: center;
}