<link rel="stylesheet" type="text/css" href="css/admin.css">
<link rel="stylesheet" type="text/css" href="css/preloader.css">
<div class="desplazador">
	<div class="contenedor">
		<div class="formulario">
			<button id="switch" class="switch">
				<span class="icon-light-down"></span>
				<span class="icon-moon"></span>
			</button>
			<form action="/actualizarpasspport" method="POST" autocomplete="off">
				<div class="logo"><img src="img/logognosis.png" alt="sol de acuario"></div>
				<h3>INGRESE</h3>
				<input type="hidden" name="id" value="{{newDato}}">
				<input type="text" name="password" placeholder="NUEVA CONTRASEÑA" required>
				<input type="submit" value="ENVIAR">
			</form>
      		<a href="/">LOGIN</a>
			<h3>{{> mensajes }}</h3>
		</div>		
	</div>
</div>	