
	<link rel="icon"  href="img/logognosis.png">
	<link rel="stylesheet" type="text/css" href="css/admin.css">

<div class="desplazador">
	<div class="contenedor">
		<div class="formulario">
			<button id="switch" class="switch">
				<span class="icon-light-down"></span>
				<span class="icon-moon"></span>
			</button>
			<form action="/" method="POST" autocomplete="off">
				<div class="logo"><img src="img/logognosis.png" alt="sol de acuario"></div>
				<h3>COORDINACION</h3>
				<input type="text" name="usuario" id="usser" placeholder="NOMBRE DE USUARIO" required>
				<input type="password" name="password" placeholder="CONTRASEÑA" required>
				<input type="submit" value="LOGIN">
			</form>
            <a href="/recuperar">RECUPERAR CONTRASEÑA</a>
			<h3>{{> mensajes }}</h3>
		</div>		
	</div>
</div>	

