<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COORDINACION VENEZUELA</title>
	<link rel="icon"  href="/img/logognosis.png">
	<link rel="stylesheet" type="text/css" href="/css/preloader.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body>
    
<div class="caja-preloader" id="preloader">
	<div class="imm"><img src="/img/logognosis.png"></div>
	<div class="carga"></div>
</div>
    {{{ body }}}
    
<script src="/js/efectos/preloader.js"></script>
<script src="/js/efectos/switch.js"></script>
</body>
</html>